<ion-view view-title="Agenda" hide-back-button="true" id="agenda">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon color-white icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#" ng-click="todasCategorias()" class="button button-icon color-white icon ion-location"></a>
	</ion-nav-buttons>
	<div class="bar  bar-subheader">
			<div class="row">
		 <div class="col col-50" ng-class="currSlide == 0?'pages-class-active':''" ng-click="proximosAgendamentos()">
		 <small>	Próximos agendamentos</small>
		 </div>
		 <div class="col col-50" ng-class="currSlide == 1?'pages-class-active':''" ng-click="antigosAgendamentos()">
			 <small>Agendamentos Antigos</small>
		 </div>
		 </div>
	</div>
	<ion-content class="has-subheader" >
			 <ion-slide-box show-pager="false" auto-play="false" ng-init="disableSwipe()" peey-level-ion-slides slide-child-class="pages-class">
				 <ion-slide class="pages-class" ng-class="data.currSlide == 0?'pages-class-active':''"  scroll="true">
					 <ul class="list">
					 	<li class="item item-icon-right item-text-wrap" ng-repeat="i in [0,1,2,3,4,5,6,7]">
							<div class="row" ng-click="selecionarPagamento(planoMensal)">
								<div class="col col-20 data">
									<h1>20</h1>
									<span>AGO</span>
								</div>
								<div class="col col-50 descricao">
									Atendimento agendado as <span>18:39 AM</span> com <strong>Cabeleira</strong>
								</div>
							</div>
							<i class="icon ion-chevron-right"></i>
						</li>
					 </ul>
				 </ion-slide>
				<ion-slide class="pages-class" ng-class="data.currSlide == 0?'pages-class-active':''" >
					<ul class="list">
					 <li class="item item-icon-right item-text-wrap" ng-repeat="i in [0,1,2,3,4,5,6,7]">
						 <div class="row" ng-click="selecionarPagamento(planoMensal)">
							 <div class="col col-20 data">
								 <h1>20</h1>
								 <span>AGO</span>
							 </div>
							 <div class="col col-50 descricao">
								 Atendimento agendado as <span>18:39 AM</span> com <strong>Cabeleira</strong>
							 </div>
						 </div>
						 <i class="icon ion-chevron-right"></i>
					 </li>
					</ul>
				</ion-slide>
			</ion-slide-box>
	</ion-content>
	<div class="tabs-striped tabs-color-home">
		<div class="tabs tabs-icon-left">
			<a class="tab-item" href="#/app/home">
				<i class="icon ion-android-star-outline"></i><br />
				DESTAQUE
			</a>
			<a class="tab-item" href="#/app/easyclub">
				<i class="icon ion-person-stalker"></i><br />
				EASYCLUB
			</a>
			<a class="tab-item" href="#/app/easybeauty">
				<i class="icon ion-bag"></i><br />
				EASYBEAUTY
			</a>
			<a class="tab-item" href="#/app/conversas">
				<i class="icon ion-chatbox-working"></i><br />
				CHAT

			</a>
			<a class="tab-item active" href="#/app/agenda">
				<i class="icon ion-calendar"></i><br />
				AGENDA
			</a>
		</div>
	</div>
</ion-view>
