<ion-view view-title="{{tituloTela}}" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon color-white icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#" ng-click="todasCategorias()" class="button button-icon color-white icon ion-location"></a>
	</ion-nav-buttons>
	<ion-content style="background-color: #f4f6f7;" scroll="true" overflow-scroll="true">
		<div class="list">
			<div class="item" style="background-color: #eef0f1;border-bottom:none;">
				<a href="#" ng-click="verLink(banners['TOP'].link)">
					<img ng-src="{{banners['TOP'].banner}}" error-src="img/anuncios/anuncio1.png" width="100%" />
				</a>
			</div>
			<div class="item item-text-wrap" style="background-color: #f4f6f7;border-top:none;" ng-if="!usuarioComercial">
				<!-- <ion-slide-box show-pager="false">
					<ion-slide> -->
						<div class="button-bar border-bottom-white">
							<a class="button item-home" href="#" ng-click="verMapa(1)">
								<img src="img/icons/icon1.png" /><br />
								PÉS E MÃOS
							</a>
							<a class="button item-home" href="#" ng-click="verMapa(3)">
								<img src="img/icons/icon2.png" /><br />
								CABELEIREIRO
							</a>
						</div>
					<!-- </ion-slide>
					<ion-slide> -->
						<div class="button-bar border-bottom-white">
							<a class="button item-home" href="#" ng-click="verMapa(5)">
								<img src="img/icons/icon3.png" /><br />
								DEPILAÇÃO
							</a>
							<a class="button item-home" href="#" ng-click="verMapa(6)">
								<img src="img/icons/icon4.png" /><br />
								SOMBRANCELHA
							</a>
						</div>
					<!-- </ion-slide>
				</ion-slide-box> -->
				<div class="button-bar border-bottom-white">
					<a class="button item-home" href="#" ng-click="verMapa(4)">
						<img src="img/icons/icon5.png" /><br />
						MAQUIAGEM
					</a>
					<a class="button item-home" href="#" ng-click="verMapa(9)">
						<img src="img/icons/icon6.png" /><br />
						ESTÉTICA CORPORAL
					</a>
				</div>
				<div class="button-bar">
					<a class="button item-home" href="#" ng-click="verMapa(8)">
						<img src="img/icons/icon7.png" /><br />
						ESTÉTICA FACIAL
					</a>
					<a class="button item-home" href="#/app/todascategorias">
						<img src="img/icons/icon8.png" /><br />
						MAIS CATEGORIAS
					</a>
				</div>
			</div>
			<div class="item item-avatar-home" style="background-color:#703f7e">
				<img ng-src="{{fotoPerfil}}" error-src="img/anonimo.jpg" />
			</div>
			<div class="item item-nome item-nome-home">
				 Jorge Rafael
				 <br>
				 <small>Presidente Prudente, São Paulo</small>
			</div>
			<div class="item item-status-home">
				<div class="row">
				  <div class="col">
						<i class="icon ion-ios-eye-outline"></i>
						500
					</div>
				  <div class="col">
						<i class="icon ion-thumbsup"></i>
						200
					</div>
				  <div class="col">
						<i class="icon ion-ios-heart-outline"></i>
						300
					</div>
				  <div class="col">
						<i class="icon ion-ios-star-outline"></i>
						200</div>
				</div>
			</div>

			<div class="item item-notificacoes-home">
				<div class="row">
					<div class="col">
						<i class="icon ion-chatbox-working"></i>
						<br />
						{{50+1}}
						<br />
						<small>chats <br> iniciados</small>
					</div>
					<div class="col">
						<i class="icon ion-chatbox-working"></i>
						<br />
						{{50+1}}
						<br />
						<small>mensagens <br> inbox</small>
					</div>
					<div class="col">
						<i class="icon ion-chatbox-working"></i>
						<br />
						{{50+1}}
						<br />
						<small>visualizações</small>
					</div>

				</div>
			</div>
			<div class="item" style="background-color: #f4f6f7;border-top: solid 15px #e9edef;padding-top: 8px;">
				<div class="row" style="padding-left:0;padding-right:0">
					<div class="col" style="padding-left:0">
						<a href="#" ng-click="verLink(banners['HALF1'].link)">
							<img ng-src="{{banners['HALF1'].banner}}" error-src="img/anuncios/anuncio2.png" width="100%" />
						</a>
					</div>
					<div class="col" style="padding-right:0">
						<a href="#" ng-click="verLink(banners['HALF2'].link)">
							<img ng-src="{{banners['HALF2'].banner}}" error-src="img/anuncios/anuncio3.png" width="100%" />
						</a>
					</div>
				</div>
				<div class="row" style="padding-left:0;padding-right:0">
					<div class="col" style="padding-left:0">
						<a href="#" ng-click="verLink(banners['HALF3'].link)">
							<img ng-src="{{banners['HALF3'].banner}}" error-src="img/anuncios/anuncio4.png" width="100%" />
						</a>
					</div>
					<div class="col" style="padding-right:0">
						<a href="#" ng-click="verLink(banners['HALF4'].link)">
							<img ng-src="{{banners['HALF4'].banner}}" error-src="img/anuncios/anuncio5.png" width="100%" />
						</a>
					</div>
				</div>
				<a href="#" ng-click="verLink(banners['BOTTOM1'].link)" style="margin-bottom: 10px;display: block;">
					<img ng-src="{{banners['BOTTOM1'].banner}}" error-src="img/anuncios/anuncio6.png" width="100%" />
				</a>
				<a href="#" ng-click="verLink(banners['BOTTOM2'].link)">
					<img ng-src="{{banners['BOTTOM2'].banner}}" error-src="img/anuncios/anuncio7.png" width="100%" />
				</a>
			</div>
			<div class="item">
				&nbsp;
			</div>
		</div>
	</ion-content>
	<div class="tabs-striped tabs-color-home">
		<div class="tabs tabs-icon-left">
			<a class="tab-item active" href="#/app/home">
				<i class="icon ion-android-star-outline"></i><br />
				DESTAQUE
			</a>
			<a class="tab-item" href="#/app/easyclub">
				<i class="icon ion-person-stalker"></i><br />
				EASYCLUB
			</a>
			<a class="tab-item" href="#/app/easybeauty">
				<i class="icon ion-bag"></i><br />
				EASYBEAUTY
			</a>
			<a class="tab-item" href="#/app/conversas">
				<i class="icon ion-chatbox-working"></i><br />
				CHAT
			</a>
			<a class="tab-item" href="#/app/agenda">
				<i class="icon ion-calendar"></i><br />
				AGENDA
			</a>
		</div>
	</div>
</ion-view>
