<ion-view view-title="EasySpa - Login">
	<ion-content class="content-login-easyspa">
	</ion-content>
		<div class="list list-inset card list-login-easyspa">
			<label class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
				<input type="email" ng-model="dados.email" placeholder="E-mail" />
			</label>
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" ng-model="dados.senha" placeholder="Senha" />
			</label>
			<div class="item no-background item-input no-padding" style="border-bottom:none">
				<button type="button" class="button button-login-background button-block" ng-click="doLogin(dados)">
				</button>
			</div>
			<div class="item no-background item-input no-padding" style="border-top:none">
				<button type="button" style="margin-top:0" class="button btn-facebook-login button-block" ng-click="loginFacebook()">
				</button>
			</div>
		</div>
	<div class="tabs-striped tabs-color-home">
		<div class="tabs tabs-icon-left">
		  <a class="tab-item" href="#/cadastro">
			<i class="icon ion-plus"></i><br />
			Cadastrar
		  </a>
		  <a class="tab-item" href="#/logincomercial">
			<i class="icon ion-star"></i><br />
			Acesso comercial
		  </a>
		</div>
	</div>
</ion-view>
