<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-easyspa" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="content-menu-easyspa" ng-controller="MenuCtrl" scroll="true" overflow-scroll="true">
      <ion-list>
    		<ion-item class="item item-avatar item-cover"  >
    			<img ng-src="{{fotoPerfil}}" error-src="img/anonimo.jpg" />
    		</ion-item>
    		<ion-item class="item item-nome">
    			{{nome}}
          <br>
          <small>Presidente prudente, São Paulo</small>
    		</ion-item>

        <ion-item menu-close href="#/app/home" ng-if="!usuarioComercial">
        		<i class="ion-search icon-menu-easyspa"></i>&nbsp;Quero me embelezar
        </ion-item>
        <ion-item menu-close href="#/app/conversas" ng-if="!usuarioComercial">
      			<i class="ion-chatbox-working icon-menu-easyspa"></i>&nbsp;Chat / Conversas
        </ion-item>
        <ion-item menu-close href="#/app/atendimentos" ng-if="!usuarioComercial">
        		<i class="ion-ios-telephone icon-menu-easyspa"></i>&nbsp;Atendimentos
        </ion-item>
        <ion-item menu-close href="#/app/configuracoes" ng-if="!usuarioComercial">
      			<i class="ion-gear-b icon-menu-easyspa"></i>&nbsp;Configura&ccedil;&otilde;es
        </ion-item>
        <!--


         -->
        <!--  Ajustar entre os dois -->
        <ion-item menu-close href="#">
            <i class="ion-ios-location icon-menu-easyspa"></i>&nbsp;Perto de mim
        </ion-item>
        <ion-item menu-close href="#">
            <i class="ion-bag icon-menu-easyspa"></i>&nbsp;Promoções ao redor
        </ion-item>
        <ion-item menu-close href="#">
            <i class="ion-android-calendar icon-menu-easyspa"></i>&nbsp;Minha Agenda
        </ion-item>
        <ion-item menu-close href="#">
            <i class="ion-android-star icon-menu-easyspa"></i>&nbsp;Minhas avaliações
        </ion-item>
        <ion-item menu-close href="#">
            <i class="ion-android-favorite icon-menu-easyspa"></i>&nbsp;Meus Favoritos
        </ion-item>
        <ion-item menu-close href="#">
            <i class="ion-android-time icon-menu-easyspa"></i>&nbsp;Histórico
        </ion-item>
        <!--


         -->
        <!--  Ajustar entre os dois -->

        <!--   !! -->
        <!--  Menu Comercial-->
        <ion-item menu-close href="#/app/conversas" ng-if="usuarioComercial">
      			<i class="ion-chatbox-working icon-menu-easyspa"></i>&nbsp;Chat / Conversas
        </ion-item>
        <ion-item menu-close href="#/app/agenda" ng-if="usuarioComercial">
        		<i class="ion-ios-telephone icon-menu-easyspa"></i>&nbsp;Agenda
        </ion-item>
        <ion-item menu-close href="#" ng-if="usuarioComercial">
        		<i class="ion-ios-telephone icon-menu-easyspa"></i>&nbsp;An&uacute;ncios
        </ion-item>
        <ion-item menu-close href="#/app/configuracoes" ng-if="usuarioComercial">
      			<i class="ion-gear-b icon-menu-easyspa"></i>&nbsp;Configura&ccedil;&otilde;es
        </ion-item>



		<!-- <ion-item menu-close href="#/app/nossasredes">
			<i class="ion-at icon-menu-easyspa"></i>&nbsp;Visite nossas redes
			<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item> -->
    		<ion-item menu-close href="#" ng-click="sairApp()">
    			<i class="ion-reply icon-menu-easyspa"></i>&nbsp;Sair
    		</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
