<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-easyspa" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content class="content-menu-easyspa" ng-controller="MenuCtrl" scroll="true" overflow-scroll="true">
      <ion-list>
    		<ion-item class="item item-avatar item-cover" style="background-image:url('img/cover.png')">
    			<img ng-src="{{fotoPerfil}}" error-src="img/anonimo.jpg" />
    		</ion-item>
    		<ion-item class="item item-nome">
    			{{nome}}
    		</ion-item>
        <ion-item menu-close href="#/app/home" ng-if="!usuarioComercial">
        		<i class="ion-search icon-menu-easyspa"></i>&nbsp;Quero me embelezar
        		<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item>
        <ion-item menu-close href="#/app/conversas" ng-if="!usuarioComercial">
      			<i class="ion-chatbox-working icon-menu-easyspa"></i>&nbsp;Conversas
      			<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item>
        <ion-item menu-close href="#/app/atendimentos" ng-if="!usuarioComercial">
        		<i class="ion-ios-telephone icon-menu-easyspa"></i>&nbsp;Atendimentos
        		<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item>
        <ion-item menu-close href="#/app/configuracoes" ng-if="!usuarioComercial">
      			<i class="ion-gear-b icon-menu-easyspa"></i>&nbsp;Configura&ccedil;&otilde;es
      			<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item>
        <!--  Menu Comercial-->
        <ion-item menu-close href="#/app/conversas" ng-if="usuarioComercial">
      			<i class="ion-chatbox-working icon-menu-easyspa"></i>&nbsp;Conversas
      			<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item>
        <ion-item menu-close href="#/app/agenda" ng-if="usuarioComercial">
        		<i class="ion-ios-telephone icon-menu-easyspa"></i>&nbsp;Agenda
        		<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item>
        <ion-item menu-close href="#" ng-if="usuarioComercial">
        		<i class="ion-ios-telephone icon-menu-easyspa"></i>&nbsp;An&uacute;ncios
        		<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item>
        <ion-item menu-close href="#/app/configuracoes" ng-if="usuarioComercial">
      			<i class="ion-gear-b icon-menu-easyspa"></i>&nbsp;Configura&ccedil;&otilde;es
      			<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item>


		<!-- <ion-item menu-close href="#/app/nossasredes">
			<i class="ion-at icon-menu-easyspa"></i>&nbsp;Visite nossas redes
			<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
        </ion-item> -->
    		<ion-item menu-close href="#" ng-click="sairApp()">
    			<i class="ion-reply icon-menu-easyspa"></i>&nbsp;Sair
    			<i class="ion-ios-arrow-right pull-right icon-menu-arrow"></i>
    		</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
