<ion-view view-title="{{tituloTela}}" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon color-white icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#" ng-click="todasCategorias()" class="button button-icon color-white icon ion-location"></a>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="item item-divider">
				Escolha uma das categorias abaixo
			</div>
			<!-- <div class="item item-perfil-1 item-categoria" ng-click="verMapa(1)">
				Manicure / Pedicure / Pod&oacute;loga
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-2 item-categoria" ng-click="verMapa(2)">
				Massagem (relaxante, drenagem linf&aacute;tica, ...
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-1 item-categoria" ng-click="verMapa(3)">
				Cabelereiro (corte, lavagem, escova, prancha, ...
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-2 item-categoria" ng-click="verMapa(4)">
				Maquiagem
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-1 item-categoria" ng-click="verMapa(5)">
				Depila&ccedil;&atilde;o (com cera, a laser)
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-2 item-categoria" ng-click="verMapa(6)">
				Design de sobrancelha (com cera, manual, ...
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-1 item-categoria" ng-click="verMapa(7)">
				Est&eacute;tica facial (limpeza de pele, clareamento ...
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-2 item-categoria" ng-click="verMapa(8)">
				Tratamento (RPG, acupuntura, yoga, pilates, ...
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-1 item-categoria" ng-click="verMapa(9)">
				Personal trainer
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-2 item-categoria" ng-click="verMapa(10)">
				Tecnologia de beleza (tratamento para ...
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-1 item-categoria" ng-click="verMapa(11)">
				Piercing (orelha, nariz, sobrancelha, boca, ...
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-2 item-categoria" ng-click="verMapa(12)">
				Tatuagem
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-1 item-categoria" ng-click="verMapa(13)">
				Energiza&ccedil;&atilde;o (raike, energiza&ccedil;&atilde;o com ...
				<i class="ion-chevron-right"></i>
			</div>
			<div class="item item-perfil-2 item-categoria" ng-click="verMapa(14)">
				Fisioterapeuta / nutricionista / dentista
				<i class="ion-chevron-right"></i>
			</div> -->

		</div>
	</ion-content>
</ion-view>
