<ion-view view-title="easySpa - Atendimentos" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon color-white icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#" ng-click="todasCategorias()" class="button button-icon color-white icon ion-location"></a>
	</ion-nav-buttons>
	<ion-content class="content-gray-background">
		<div class="list card" ng-if="naoAvaliados.length">
			<div class="item item-separator item-text-wrap">
				Profissionais aguardando sua qualifica&ccedil;&atilde;o
			</div>
			<div class="item item-avatar item-conversa item-icon-right" ng-repeat="item in naoAvaliados">
				<img ng-src="{{item.funcionaria.avatar}}" error-src="img/anonimo.jpg" />
				<h2>{{item.funcionaria.nome}}</h2>
				<p>{{item.funcionaria.categoria}}</p>
				<i class="ion-star star-negative" ng-click="votar(1)"></i>
				<i class="ion-star star-negative" ng-click="votar(2)"></i>
				<i class="ion-star star-negative" ng-click="votar(3)"></i>
				<i class="ion-star star-negative" ng-click="votar(4)"></i>
				<i class="ion-star star-negative" ng-click="votar(5)"></i>
			</div>
		</div>
		<div class="list card">
			<div class="item item-separator item-text-wrap">
				Profissionais j&aacute; qualificados por voc&ecirc;
			</div>
			<div class="item item-text-wrap" align="center" ng-if="!atendidos.length" style="font-size: 14px;">
				Nenhum atendimento feito at&eacute; o momento.
			</div>
			<div class="item item-avatar item-conversa item-icon-right" ng-if="atendidos.length" ng-repeat="item in atendidos">
				<img ng-src="{{item.funcionaria.avatar}}" error-src="img/anonimo.jpg" />
				<span class="item-note">
					<!-- <i class="ion-heart-broken color-red pull-right"></i> -->
					<i class="ion-heart color-green pull-right"></i><br />
				</span>
				<h2>{{item.funcionaria.nome}}</h2>
				<p>{{item.funcionaria.categoria}}</p>
				<i class="ion-star star-positive"></i>
				<i class="ion-star star-positive"></i>
				<i class="ion-star star-positive"></i>
				<i class="ion-star star-negative"></i>
				<i class="ion-star star-negative"></i>
			</div>
		</div>
	</ion-content>
</ion-view>