<ion-view view-title="EasySpa" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon color-white icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#" ng-click="todasCategorias()" class="button button-icon color-white icon ion-location"></a>
	</ion-nav-buttons>
	<ion-content>
		teste
	</ion-content>
	<div class="tabs-striped tabs-color-home">
		<div class="tabs tabs-icon-left">
			<a class="tab-item" href="#/usuario/home">
				<i class="icon ion-android-star-outline"></i><br />
				DESTAQUE
			</a>
			<a class="tab-item" href="#/usuario/easyclub">
				<i class="icon ion-person-stalker"></i><br />
				EASYCLUB
			</a>
			<a class="tab-item" href="#/usuario/easybeauty">
				<i class="icon ion-bag"></i><br />
				EASYBEAUTY
			</a>
			<a class="tab-item" href="#/usuario/conversas">
				<i class="icon ion-chatbox-working"></i><br />
				CHAT
			</a>
			<a class="tab-item active" href="#/usuario/agenda">
				<i class="icon ion-calendar"></i><br />
				AGENDA
			</a>
		</div>
	</div>
</ion-view>