<ion-view view-title="easySpa - Conversas" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon color-white icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#" ng-click="todasCategorias()" class="button button-icon color-white icon ion-location"></a>
	</ion-nav-buttons>
	<ion-content class="content-gray-background">
		<div class="list card">
			<div class="item item-text-wrap">
				Veja abaixo seu hist&oacute;rico de conversas com as profissionais.
			</div>
			<div class="item item-text-wrap" align="center" ng-if="!conversas.length">
				Nenhuma conversa encontrada.
			</div>
			<a href="#" ng-click="verConversa(conversa)" class="item item-avatar item-conversa item-icon-right" ng-if="conversas.length" ng-repeat="conversa in conversas">
				<img ng-src="{{conversa.funcionaria.avatar}}" error-src="img/anonimo.jpg" />
				<i class="ion-chevron-right pull-right"></i>
				<h2>{{conversa.funcionaria.nome}}</h2>
				<p>{{conversa.funcionaria.categoria}}</p>
			</a>
		</div>
	</ion-content>
	<div class="tabs-striped tabs-color-home">
		<div class="tabs tabs-icon-left">
			<a class="tab-item" href="#/usuario/home">
				<i class="icon ion-android-star-outline"></i><br />
				DESTAQUE
			</a>
			<a class="tab-item" href="#/usuario/easyclub">
				<i class="icon ion-person-stalker"></i><br />
				EASYCLUB
			</a>
			<a class="tab-item" href="#/usuario/easybeauty">
				<i class="icon ion-bag"></i><br />
				EASYBEAUTY
			</a>
			<a class="tab-item active" href="#/usuario/conversas">
				<i class="icon ion-chatbox-working"></i><br />
				CHAT
			</a>
			<a class="tab-item" href="#/usuario/agenda">
				<i class="icon ion-calendar"></i><br />
				AGENDA
			</a>
		</div>
	</div>
</ion-view>