<ion-view view-title="{{tituloTela}}" align="center">
	<div class="tabs-striped tabs-top tabs-background-easyspa tabs-color-white tabs-perfil">
		<div class="tabs">
			<a class="tab-item" href="#" ng-click="verPerfil(funcionaria)">
				INFO
			</a>
			<a class="tab-item" href="#" ng-click="iniciarChat(funcionaria)">
				CHAT
			</a>
			<a class="tab-item active" href="#">
				ROTA
			</a>
		</div>
	</div>
	<ion-content class="content-rota">
		<div class="container-rota" align="center">
			<div class="list card">
				<div class="item item-divider">
					Rota de voc&ecirc; at&eacute; {{funcionaria.nome}}
				</div>
				<div class="item item-text-wrap">
					<div id="instrucoes-rota"></div>
				</div>
			</div>
			<div id="mapa-rota" data-tap-disabled="true"></div>
		</div>
	</ion-content>
	<div class="tabs-striped tabs-color-home">
		<div class="tabs tabs-icon-left">
			<a class="tab-item active" href="#" ng-click="alterarRota(1)" ng-class="{'active':travelMode==1}">
				<i class="icon ion-android-walk"></i><br />
				A P&Eacute;
			</a>
			<a class="tab-item" href="#" ng-click="alterarRota(2)" ng-class="{'active':travelMode==2}">
				<i class="icon ion-model-s"></i><br />
				CARRO
			</a>
			<a class="tab-item" href="#" ng-click="alterarRota(3)" ng-class="{'active':travelMode==3}">
				<i class="icon ion-android-bus"></i><br />
				ONIBUS
			</a>
			<a class="tab-item" href="#" ng-click="alterarRota(4)" ng-class="{'active':travelMode==4}">
				<i class="icon ion-android-bicycle"></i><br />
				BICICLETA
			</a>
		</div>
	</div>
</ion-view>