<ion-view view-title="{{tituloTela}}" hide-back-button="true">
	<ion-content style="background-color: #f4f6f7;" scroll="true" overflow-scroll="true" id="pagamento-cartao">
		<ion-slide-box show-pager="false" auto-play="false" ng-init="disableSwipe()" peey-level-ion-slides slide-child-class="pages-class">
			<ion-slide class="pages-class" ng-class="data.currSlide == 0?'pages-class-active':''" >
				<ul class="list">
						<li class="item item-icon-right" ng-click="proximo()">
							Adicionar Cartão
								<i class="ion-chevron-right icon"></i>
						</li>
						<li class="item item-icon-right item-avatar">
							 <img src="img/cartoes/recursos_boleto.png">
							 <span class="text-img">Boleto</span>
							<i class="ion-chevron-right icon"></i>
						</li>
				</ul>
			</ion-slide>
			<ion-slide class="pages-class" ng-class="data.currSlide == 1?'pages-class-active':''" >
				<ul class="list">
						<li class="item item-icon-right item-avatar">
							 <img src="img/cartoes/visa.png">
							 <span class="text-img">terminado em 9000</span>
							<i class="ion-chevron-right icon"></i>
						</li>
						<li class="item item-icon-right item-avatar">
							 <img src="img/cartoes/mastercard.png">
							 <span class="text-img">terminado em 8888</span>
							<i class="ion-chevron-right icon"></i>
						</li>
						<li class="item item-icon-right" ng-click="proximo()">
								Adicionar Cartão ...
								<i class="ion-chevron-right icon"></i>
						</li>
					</ul>
						<ul class="list">
							<li class="item item-icon-right item-avatar">
								 <img src="img/cartoes/recursos_boleto.png">
								 <span class="text-img">Boleto</span>
								<i class="ion-chevron-right icon"></i>
							</li>
						</ul>
				</ul>
			</ion-slide>
			<ion-slide class="pages-class" ng-class="data.currSlide == 2?'pages-class-active':''" >
				<ul class="list">
		        <li class="item item-icon-right item-avatar" ng-click="proximo()">
		           <img src="img/cartoes/visa.png">
		           <span class="text-img">Visa</span>
		          <i class="ion-chevron-right icon"></i>
		        </li>
		        <li class="item item-icon-right item-avatar" ng-click="proximo()">
		           <img src="img/cartoes/mastercard.png">
		           <span class="text-img">Mastercard</span>
		          <i class="ion-chevron-right icon"></i>
		        </li>
		        <li class="item item-icon-right item-avatar" ng-click="proximo()">
		           <img src="img/cartoes/hipercard.png">
		           <span class="text-img">Hipercard</span>
		          <i class="ion-chevron-right icon"></i>
		        </li>
		        <li class="item item-icon-right item-avatar" ng-click="proximo()">
		           <img src="img/cartoes/express.png" style="margin: 0;">
		           <span class="text-img">American Express</span>
		          <i class="ion-chevron-right icon"></i>
		        </li>
		        <li class="item item-icon-right item-avatar" ng-click="proximo()">
		           <img src="img/cartoes/diner.png" style="margin: 0;">
		           <span class="text-img">Diners</span>
		          <i class="ion-chevron-right icon"></i>
		        </li>
		        <li class="item item-icon-right item-avatar" ng-click="proximo()">
		           <img src="img/cartoes/elo.png" style="margin: 0;">
		           <span class="text-img">Elo</span>
		          <i class="ion-chevron-right icon"></i>
		        </li>
		    </ul>
			</ion-slide>
			<ion-slide class="pages-class" ng-class="data.currSlide == 3?'pages-class-active':''" >
				<div>
						<!--  -->
						<div class="list row">
								<label class="item item-input item-floating-label col">
										<span class="input-label">Número de cartão</span>
										<input type="text" placeholder="">
								</label>
						</div>
						<div class="list row row-bottom">
								<label class="item item-input item-floating-label col">
										<span class="input-label">Validade <i class="icon ion-chevron-down"></i> </span>
										<input type="text" placeholder="Mês/Ano">
								</label>
						</div>

						<div class="list row">
								<label class="item item-input item-floating-label col">
										<span class="input-label">Nome e sobrenome impresso no cartão</span>
										<input type="text" placeholder="">
								</label>
						</div>
						<div class="list row row-bottom">
							<label class="item item-input item-floating-label col col-25">
									<span class="input-label">Tipo</span>
									<input type="text" placeholder="CPF">
							</label>
							<label class="item item-input item-floating-label col col-75">
									<span class="input-label">Documento</span>
									<input type="text" placeholder="">
							</label>
						</div>

						<div class="list row">
							<label class="item item-input item-floating-label col col-33">
									<span class="input-label">Código</span>
									<input type="text" placeholder="">
							</label>
							<label class="col col-75">
									<img src="/img/cartao-verso.png" alt="">
							</label>
						</div>
						<button class="button button-block button-positive button-positive-card">
						Continuar
						</button>
				</div>
			</ion-slide>
    <!--  Primeira Fase -->

		<!--  Segunda Fase -->



  </ion-content>
</ion-view>
